@import "variables/variable.css";
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

*{
	padding: 0;
	margin: 0;
	color: var(--color-text);
	font-family: 'Ubuntu', sans-serif;
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column{
	display: flex;
	flex-direction: column;
	width: 100%;
	flex-wrap: wrap;
}

.main{
	background: linear-gradient(-140deg,var(--color-primary),var(--color-secondary));
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.header{
	position: fixed;
	top: 0;
	width: 100%;
	height: var(--header-bar-height);
	background: var(--header-bar-color);
	display: flex;
	flex-direction: row;
	align-items: center;
}

#btn-menu{
	height: var(--header-bar-height);
	width: var(--header-bar-height);
	display: flex;
	justify-content: center;
	align-items: center;
}

.header i:hover{
	cursor: pointer;
}

.header-search{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.header-search input{
	background: none;
	margin-left: 10px;
	color: var(--color-text);
	border: 0;
	width: 350px;
	padding: calc(var(--header-bar-height) / 4.5) 5px;
}

.content-main{
	position: absolute;
	left: 230px;
	width: calc(100% - var(--side-bar-width));
	height: 100%;
	display: flex;
	flex-direction: column;
	transition: var(--transition);
}

.side-bar{
	position: absolute;
	height: 100%;
	width: var(--side-bar-width);
	left: 0px;
	transition: var(--transition);
	background: var(--side-bar-color);
}

.side-bar-header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--header-bar-height);
}

.side-bar-body{
	margin-top: 20px;
}

.side-bar-item, .side-bar-item-drop-button{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: var(--side-bar-item-height);
	width: 100%;
	cursor: pointer;
	transition: var(--transition);
}

.side-bar-item:hover, .side-bar-item-drop-button:hover, .active{
	background: var(--color-secondary);
}

.side-bar-item i, .side-bar-item-drop p{
	padding: 0 15px;
}

.side-bar-item-drop{
	display: flex;
	flex-direction: column;
	transition: var(--transition);
}

.side-bar-item-drop-button{
	height: var(--side-bar-item-height);
}

.side-bar-item-drop-button i{
	position: absolute;
	right: 0;
	padding: 0 15px;
}

.side-bar-item-drop-menu{
	width: 100%;
	max-height: 0;
	overflow: hidden;
	transition: var(--transition);
}

.page{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	margin-top: var(--header-bar-height);
}

.page-header{
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.page-header h2{
	padding: 0 25px;
}

.page-header p{
	position: absolute;
	right: 0;
	padding: 0 25px;
}

.page-body{
	width: 100%;
}

.panel{
	margin: var(--panel-margin);
	padding: var(--panel-padding);
	background: var(--panel-background);
	width: fit-content;
}

.p-1-1{
	width: calc(100% / 4 - (var(--panel-margin) * 4));
	height: var(--panel-height);
}

.p-1-2{
	width: calc(100% / 2 - (var(--panel-margin) * 4));
	height: calc(var(--panel-height) * 2 );
}

.p-3-2{
	width: calc(100% / 2 - (var(--panel-margin) * 4));
	height: calc(var(--panel-height) * 2 );
}

.p-3-1{
	width: calc(100% / 4 - (var(--panel-margin) * 4));
	height: calc(var(--panel-height) * 3 );
}
