@import "color.css";
:root{
	/*Global*/
	--transition: .3s;
	--opacity-background: 0.35;

	/*Header Bar*/
	--header-bar-height: 40px;
	--header-bar-color: rgba(var(--color-general),var(--opacity-background));


	/*Side bar*/
	--side-bar-width: 230px;
	--side-bar-color: rgba(var(--color-general), var(--opacity-background));
	--side-bar-item-height: 40px;

	/*Panel Global*/
	--panel-background: rgba(var(--color-panel), var(--opacity-background));
	--panel-padding: 5px;
	--panel-margin: 5px;
	--panel-height: 80px;
}